"use strict";
const JJJRMISocket = require("./JJJRMISocket");

class ${socketName} extends JJJRMISocket{

    constructor(address = "${socketName}"){
        super(address);
        JJJRMISocket.registerPackage(require("./${packageName}"));
    }
}

module.exports = ${socketName};
